body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background: url(images/arctic.jpg);
}

.nav-buttons {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50px;

}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #2c3e50;
    background-color: antiquewhite;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: orange;
}

h1 {
    text-align: center;
    color: #2c3e50;
}
h2 {
    color: #34495e;
}
